.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
specialist-manuscript-response/
.Rapp.history
archive/
specialist-manuscript-response-backup/
pdfs/
figures/
oldNewFileComparison.R
large_data_files/
figures.zip
submission-login.txt
*.zip